.resize{
	max-width:75%;
	max-height:25%;
}

html,
body {
  height: 100%;
}

body {
	font-family: 'Raleway', sans-serif !important;
	position: relative;
}

.raleway {
	font-size:20px;
}

.padded {
	padding-left: 2em;
	padding-top: 2em;
	padding-right: 2em;
	padding-bottom: 2em;
}

.h1, .h2, .h3, .h4, .h5, .h6 , h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif !important;	
}

#content {
	overflow: hidden;
}

/* Sections */
#intro {
	min-height: 500px;
	width:100%;
	background: url('../pictures/homepage.jpg') no-repeat center center scroll;
}
#introwords {
	position:absolute;
	margin-top: 50px;
	padding-top: 125px;
	margin-left: 10%;
	color:#FFFFFF;
	font-size:4em;
	font-weight: 700;
	font-family: sans-serif;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 0 5px 0 #444;
}
#tagline {
	font-size: 1em;
	margin-top:45%;
}
#about {
	margin: 10px;
}

.caption {
	font-size:15px;
}
.subsection {
	padding-left: 3em;
	padding-bottom: 1em;
}
.award {
	margin-left: 1em;
	margin-right: 1em;
}
/* Colors */
#sidebar-wrapper {
	background: #7A8D6E !important;
}
#wrapper, #content {
	background: #C8DBBB;
}
nav.navbar {
	font-size: 17px !important;
}
.active{
	background: #FFFFFF;
}
#sidebar-tabs {
	background-color: #7A8D6E;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.jumbotron{
	background:#B6BAA4 !important;
}
.sidebar-brand {
	background: #000000 !important;
}

.view-port {
  position: relative;
}
.slider-container {
  position: relative;
  height: 325px;
  margin: 0;
  padding: 0;
}
.item:hover {
  opacity: 0.7;
}
.item {
  position: absolute;
  height: 260px;
  width: 260px;
  margin-right: 8px;
  cursor: pointer; cursor: hand;
}

a.next {
  display: block;
  position: absolute;
  right: 0;
}
a.prev {
  float:left;
}

.class {
	display: none;
	font-size: 0.75em;
	font-weight: 400;
}

.category {
	font-size: 1.3em;
	font-weight: 700;
	background:#B6BAA4 !important;
}
.category:hover {
	background:#D4D4D4 !important;
	cursor: pointer; cursor: hand;
}

table {
	font-size: 17px;
}

@media only screen and (max-width: 1100px) {
	nav.navbar {
		font-size: 1.5vw !important; 
	}
	.logo__text {
		padding-left: 2em;
		font-size: 2vw !important;
	}
}

@media only screen and (max-device-width: 480px) {
	body {
		font-size: 2vw !important;
	}
	.table {
		font-size: 2.25vw !important;
	}
	.raleway {
		font-size: 2.25vw !important;
	}
	.h1, h1 {
		font-size: 3.6vw !important;
	}
	.h2, h2 {
		font-size: 3.1vw !important;
	}
	.h3, h3 {
		font-size: 2.9vw !important;
	}
	.h4, h4 {
		font-size: 2.5vw !important;
	}
	.caption {
		font-size: 2vw !important;
	}
	.category {
		font-size: 2.25vw !important;
	}
	.class {
		font-size: 2vw !important;
	}
	#introwords {
		font-size: 3.5vw !important;
	}
	nav.navbar {
		font-size: 2.5vw !important; 
	}
	.logo__text {
		font-size: 3vw !important;
	}
	#introwords {
		margin-left: 35%;
	}
}