.resize{
	max-width:75%;
	max-height:25%;
}

body {
	font-family: 'Raleway', sans-serif !important;
	position: relative;
}

.raleway {
	font-size:20px;
}

.padded {
	padding-left: 2em;
	padding-top: 2em;
	padding-right: 2em;
	padding-bottom: 2em;
}

.h1, .h2, .h3, .h4, .h5, .h6 , h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif !important;	
}

#content {
	overflow: hidden;
}

/* Sections */
#about {
	margin: 10px;
}

.caption {
	font-size:15px;
}
.subsection {
	padding-left: 3em;
	padding-bottom: 1em;
}
.award {
	margin-left: 1em;
	margin-right: 1em;
}
/* Colors */
#sidebar-wrapper {
	background: #7A8D6E !important;
}
#wrapper {
	background: #C8DBBB;
}
.sidebar-nav li a {
	color: #000000 !important;
	font-size: 17px;
}
.active{
	background: #FFFFFF;
}
#sidebar-tabs {
	background-color: #7A8D6E;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.jumbotron{
	background:#B6BAA4 !important;
}
.sidebar-brand {
	background: #000000 !important;
}

.view-port {
  width: 960px;
  overflow: hidden;
  position: relative;
}
.slider-container {
  position: relative;
  height: 250px;
  margin: 0;
  padding: 0;
}
.item:hover {
  opacity: 0.7;
}
.item {
  position: absolute;
  height: 200px;
  width: 200px;
  margin-right: 8px;
  cursor: pointer; cursor: hand;
}

a.next {
  float: right;
  display: block;
  position: absolute;
  right: 0;
}
a.prev {
  float:left;
}